.footer {
  width: 100%;
  padding: 0.5em;
  background-color: rgb(90, 140, 180);
  text-align: center;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 5%;
  }
}