* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS';
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    'nav header'
    'nav main'
    'nav footer';
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr 0.5fr;
  height: 100vh;
  padding: 0.5em;
  gap: 0.5em;
  background-color: #eaeaea;
}

.header {
  grid-area: header;
  padding: 10px;
  background-color: #cdcdcd;
  border-radius: 0.5em;
}

.navigation {
  grid-area: nav;
  padding: 10px;
  background-color: #cdcdcd;
  border-radius: 0.5em;
}

.main-content {
  grid-area: main;
  display: flex;
  gap: 0.5em;
}

.content {
  flex: 2;
  padding: 10px;
  border-radius: 0.5em;
  text-align: justify;
  background-color: #cdcdcd;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sidebar .box {
  flex: 1;
  & img {
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
  }
}

.footer {
  grid-area: footer;
  padding: 10px;
  background-color: #cdcdcd;
  border-radius: 0.5em;
}
