.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3vw;
  grid-auto-flow: dense;
  justify-content: center;
}

*:has(~ :is(.focused)),
:is(.focused) ~ * {
  opacity: 0.75;
  transform: scale(0.95);
}

:is(.focused) {
  transform: scale(1.025);
  opacity: 1;
}

.focused > section > div {
  animation: rainbow 1.75s 0.1s forwards;
}
@keyframes rainbow {
  from,
  to {
    border: cyan solid 0px;
  }

  25% {
    border: lightblue solid 8px;
  }
  50% {
    border: cyan solid 8px;
  }

  75% {
    border: lightblue solid 8px;
  }
}
