.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 64px;
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: lightsteelblue;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.grouping {
  display: flex;
  align-items: center;
  gap: 1em;
}

body .title {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  transition: transform 0.5s;
  &:hover {
    transform: rotateZ(-2deg) scale(1.05);
    filter: drop-shadow(0 0 4px rgba(142, 250, 142));
  }
}

.link {
  position: relative;
  color: black;
  font-size: 1.1em;
  text-decoration: none;
  &::before {
    content: '';
    width: 0;
    position: absolute;
    bottom: 1px;
    height: 2px;
    background-color: black;
    transition: width 0.5s;
  }
  &:hover::before {
    width: 100%;
  }
}
