@import url(../../styles/variables.module.css);

.header {
  display: flex;
  position: fixed;
  top: -10em;
  right: 0;
  left: 0;
  height: 64px;
  width: 95vw;
  margin: 0 auto;
  border-radius: 1em;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2em;
  background: var(--glass-color);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: top 0.5s;
  z-index: 100000;
}

.header.show {
  top: 0.5em;
}

.link {
  position: relative;
  font-size: 1.5em;
  color: var(--font-color);
  opacity: 0.75;
  text-decoration: none;

  &::first-letter {
    font-size: 1.2em;
  }

  &::before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 1px;
    background-color: var(--font-color);
    transition: width 0.2s;
  }
  &:hover::before {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .link {
    font-size: 1.3em;
  }
}