.title {
    font-size: 1.75 em;
    text-align: center;
}

.content {
    display: flex;
    gap: 1em;
    height: 100%;
}

.table {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(18, 58px);
    grid-template-rows: repeat(10, 58px);
    padding: 0.4em;
}
