@import url(../../styles/variables.module.css);

.flipCard {
  aspect-ratio: 11/16;
  perspective: 9000px;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    transform: scale(1.025);
    & .flipCardInner {
      transform: rotateY(180deg);
    }
  }
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  backface-visibility: hidden;
  background-color: var(--glass-color);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.flipCardFront {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: .5em;
    border-radius: 1em;
  }
}

.flipCardBack {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  text-align: justify;
  transform: rotateY(180deg);
}

*:has(~ :is(.flipCard:hover, .focused)),
:is(.flipCard:hover, .focused) ~ * {
  opacity: 0.75;
  transform: scale(0.95);
}
